<footer class="footer">
  <div class="container">
    <div class="footer__socials">
      <h5>Follow us:</h5>
      <ul class="socials">
        <li class="socials__item">
          <a class="socials__link youtube"></a>
        </li>
        <li class="socials__item">
          <a class="socials__link insta"></a>
        </li>
        <li class="socials__item">
          <a class="socials__link fb"></a>
        </li>
      </ul>
    </div>

    <div class="footer__info">
      <a class="policy">Privacy Policy</a>
    </div>
  </div>
</footer>
