<header class="header">
  <div class="container container_column">
    <div class="header__top">
      <div class="header__logo">
        <a class="logo" href="#">
        </a>
      </div>
      <div class="header__search">
        <div class="search">
          <input matInput class="search__input" placeholder="H world" value="search"
                 (keydown.enter)="searchShow($event.target.value)"
          >
        </div>
      </div>
    </div>
  </div>
  <div class="header__nav">
    <div class="container__nav">
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item">
            <a class="nav__link" routerLink="/">Shows</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" routerLink="/shedule">Shedule</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" routerLink="/articles">Articles</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
