.shows {
  outline: none;
  width: 100%;
  max-width: 96vw;
  overflow: hidden;

  &__item {
    width: 20%;
    height: 100%;
    min-width: 150px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    margin: 0 1%;
  }

  &__img {
    min-height: 250px;
    max-height: 250px
  }

  &__name {
    white-space: nowrap;
    font-size: 14px;
  }

  &__info {
    display: flex;
    justify-content: space-between;

    span {
      display: flex;
      align-items: center;
    }
  }
}

.mat-card {
  padding-bottom: 2%;
}

.mat-card-title {
  margin: 0;
}
