<div class="container container_column">
  <div class="shows-wrapper">
    <mat-selection-list class="shows">
      <ng-container *ngIf="sheduledShows">
        <div *ngFor="let show of sheduledShows"
             class="shows__item">
          <a href="#">
            <mat-card>

              <mat-card-title class="shows__name">{{show.name}}</mat-card-title>

              <mat-card-content class="shows__info">
                <span>
                  {{show.airdate}}
                </span>
                <span>
                  {{ show.airtime}}
                </span>
              </mat-card-content>
            </mat-card>
          </a>
        </div>
      </ng-container>


    </mat-selection-list>
  </div>
</div>
